body,
page {
	background: #F8F8F8;
}

.ellipsis-1 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/* word-break:break-all; */
}


#content-calendar .u-btn--success {
	border-color: rgb(0, 186, 173);
	background-color: rgb(0, 186, 173);
}
