body,
page {
	background: #F8F8F8;
}

/* 超出1行省略号 */
.ellipsis-1 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/* word-break:break-all; */
}

/* 超出两行省略号 */
.ellipsis-2 {
	overflow: hidden;
	 text-overflow: ellipsis;
	 display: -webkit-box; 
	 -webkit-box-orient: vertical;
	 -webkit-line-clamp: 2; 
}



#content-calendar .u-btn--success {
	border-color: rgb(0, 186, 173);
	background-color: rgb(0, 186, 173);
}
